<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  </head>
  <body style="color: #9a9a9a;font-size: 14px;font-family: Verdana,Helvetica,Arial;">
    <h1 style="color: #246597;">You've snapped your dashboard!</h1>
    <p>
      You have successfully taken a snapshot of your current dashboard. You can visit it at <a href="http://dashboard-bb.herokuapp.com">dashboard-bb.herokuapp.com</a> to get the latest information.<br>
	  <br>
	  Thanks for using <strong>dashboard-bb</strong> and have a great day!
	</p>
	<br><br>
    <div id="signature">
		<a href="mailto:shocker@abandonados.info" style="text-decoration: none;color: #333;font-weight: bold;">João Vieira</a>
	</div>
  </body>
</html>